@import '../../assets/styles/variables';
@import "../../assets/styles/helpers";
@import "../../assets/styles/mixins";

#offers {
  @extend .page;
  height: 60rem;
  background-color: $bg-black;

  @include breakpointMin(lg) {
    height: 25rem;
  }

  .offer {
    width: 30rem;
    height: 15rem;

    a {
      font-size: 1.8rem;
    }
  }
}
