<section id="offers" class="d-flex flex-column flex-lg-row justify-content-around justify-content-lg-between align-items-center">
  <div class="offer d-flex justify-content-center align-items-center" style="background: url(../../../../assets/images/on-sale.jpg)">
    <a href="#" class="btn btn-outline-light px-5 py-3">ON SALE</a>
  </div>
  <div class="offer d-flex justify-content-center align-items-center" style="background: url(../../../../assets/images/special-offers.jpg)">
    <a href="#" class="btn btn-outline-light px-5 py-3">SPECIAL OFFERS</a>
  </div>
  <div class="offer d-flex justify-content-center align-items-center" style="background: url(../../../../assets/images/must-have.jpg)">
    <a href="#" class="btn btn-outline-light px-5 py-3">MUST HAVE</a>
  </div>
</section>
